---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.28'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 06/12/2025 21:53:59
      Cdn-Edgestorageid:
      - '1233'
      Cdn-Requestid:
      - 64b633aa3aac22a1e5700a068031185f
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '401'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":2006,"message":"API key is invalid."}}'
  recorded_at: Thu, 12 Jun 2025 21:53:59 GMT
recorded_with: VCR 6.3.1
