---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=456%20Oak%20St,%20Chicago,%20IL%2060601
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999975'
      Cdn-Proxyver:
      - '1.29'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2025 22:18:21
      Cdn-Edgestorageid:
      - '718'
      Cdn-Requestid:
      - 9c1e7820bb364efe70d035c57b5b7dc9
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Chicago","region":"Illinois","country":"USA United
        States of America","lat":41.8851,"lon":-87.626,"tz_id":"America/Chicago","localtime_epoch":1749853119,"localtime":"2025-06-13
        17:18"},"current":{"last_updated_epoch":1749852900,"last_updated":"2025-06-13
        17:15","temp_c":21.7,"temp_f":71.1,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":104,"wind_dir":"ESE","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":76,"cloud":100,"feelslike_c":21.7,"feelslike_f":71.1,"windchill_c":19.1,"windchill_f":66.5,"heatindex_c":19.1,"heatindex_f":66.5,"dewpoint_c":17.6,"dewpoint_f":63.6,"vis_km":9.7,"vis_miles":6.0,"uv":1.6,"gust_mph":7.6,"gust_kph":12.2},"forecast":{"forecastday":[{"date":"2025-06-13","date_epoch":1749772800,"day":{"maxtemp_c":20.4,"maxtemp_f":68.7,"mintemp_c":15.3,"mintemp_f":59.5,"avgtemp_c":17.4,"avgtemp_f":63.3,"maxwind_mph":8.5,"maxwind_kph":13.7,"totalprecip_mm":1.04,"totalprecip_in":0.04,"totalsnow_cm":0.0,"avgvis_km":5.3,"avgvis_miles":3.0,"avghumidity":88,"daily_will_it_rain":1,"daily_chance_of_rain":83,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":1.7},"astro":{"sunrise":"05:15
        AM","sunset":"08:26 PM","moonrise":"10:56 PM","moonset":"06:53 AM","moon_phase":"Waning
        Gibbous","moon_illumination":97,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1749790800,"time":"2025-06-13
        00:00","temp_c":16.0,"temp_f":60.9,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":357,"wind_dir":"N","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud":98,"feelslike_c":16.0,"feelslike_f":60.9,"windchill_c":16.0,"windchill_f":60.9,"heatindex_c":16.0,"heatindex_f":60.9,"dewpoint_c":13.2,"dewpoint_f":55.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.6,"gust_kph":25.1,"uv":0},{"time_epoch":1749794400,"time":"2025-06-13
        01:00","temp_c":15.9,"temp_f":60.7,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":357,"wind_dir":"N","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud":99,"feelslike_c":15.9,"feelslike_f":60.7,"windc[...]
