---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=123%20Main%20St,%20Beverly%20Hills,%20CA%2090210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999975'
      Cdn-Proxyver:
      - '1.29'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2025 22:18:16
      Cdn-Edgestorageid:
      - '941'
      Cdn-Requestid:
      - cc28e6b2b7e78059ebe05f6b16bfda9b
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA
        United States of America","lat":34.0868,"lon":-118.412,"tz_id":"America/Los_Angeles","localtime_epoch":1749853077,"localtime":"2025-06-13
        15:17"},"current":{"last_updated_epoch":1749852900,"last_updated":"2025-06-13
        15:15","temp_c":21.1,"temp_f":70.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.7,"wind_kph":14.0,"wind_degree":217,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"humidity":68,"cloud":50,"feelslike_c":21.1,"feelslike_f":70.0,"windchill_c":23.3,"windchill_f":73.9,"heatindex_c":24.9,"heatindex_f":76.9,"dewpoint_c":15.1,"dewpoint_f":59.3,"vis_km":16.0,"vis_miles":9.0,"uv":7.6,"gust_mph":10.0,"gust_kph":16.2},"forecast":{"forecastday":[{"date":"2025-06-13","date_epoch":1749772800,"day":{"maxtemp_c":23.5,"maxtemp_f":74.3,"mintemp_c":16.0,"mintemp_f":60.8,"avgtemp_c":19.3,"avgtemp_f":66.7,"maxwind_mph":8.7,"maxwind_kph":14.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":76,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":2.7},"astro":{"sunrise":"05:42
        AM","sunset":"08:06 PM","moonrise":"10:36 PM","moonset":"07:31 AM","moon_phase":"Waning
        Gibbous","moon_illumination":97,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1749798000,"time":"2025-06-13
        00:00","temp_c":16.6,"temp_f":61.8,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":150,"wind_dir":"SSE","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":88,"cloud":51,"feelslike_c":16.6,"feelslike_f":61.8,"windchill_c":16.6,"windchill_f":61.8,"heatindex_c":16.6,"heatindex_f":61.9,"dewpoint_c":14.3,"dewpoint_f":57.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.1,"gust_kph":11.4,"uv":0},{"time_epoch":1749801600,"time":"2025-06-13
        01:00","temp_c":16.5,"temp_f":61.8,"is_day":0,"condition":{"text":"Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":159,"wind_dir":"SSE","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":90,"cloud":74,"feelslike_c":16.5,"feelslike_f":61.8,"windch[...]
