---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=Invalid%20Location,%20XX%2099999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999975'
      Cdn-Proxyver:
      - '1.29'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2025 22:18:42
      Cdn-Edgestorageid:
      - '1236'
      Cdn-Requestid:
      - 4462707dffbb49028f3b3f02d519cb23
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Siglo Xx","region":"Potosi","country":"Bolivia","lat":-18.3667,"lon":-66.6333,"tz_id":"America/La_Paz","localtime_epoch":1749853140,"localtime":"2025-06-13
        18:19"},"current":{"last_updated_epoch":1749852900,"last_updated":"2025-06-13
        18:15","temp_c":7.8,"temp_f":46.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":13.4,"wind_kph":21.6,"wind_degree":266,"wind_dir":"W","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":16,"cloud":0,"feelslike_c":4.4,"feelslike_f":40.0,"windchill_c":4.4,"windchill_f":40.0,"heatindex_c":7.8,"heatindex_f":46.0,"dewpoint_c":-16.2,"dewpoint_f":2.8,"vis_km":10.0,"vis_miles":6.0,"uv":0.0,"gust_mph":21.6,"gust_kph":34.8},"forecast":{"forecastday":[{"date":"2025-06-13","date_epoch":1749772800,"day":{"maxtemp_c":11.3,"maxtemp_f":52.4,"mintemp_c":-0.3,"mintemp_f":31.4,"avgtemp_c":5.1,"avgtemp_f":41.2,"maxwind_mph":21.9,"maxwind_kph":35.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":27,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.8},"astro":{"sunrise":"06:55
        AM","sunset":"05:57 PM","moonrise":"08:07 PM","moonset":"08:57 AM","moon_phase":"Waning
        Gibbous","moon_illumination":97,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1749787200,"time":"2025-06-13
        00:00","temp_c":3.1,"temp_f":37.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":253,"wind_dir":"WSW","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":33,"cloud":1,"feelslike_c":1.3,"feelslike_f":34.4,"windchill_c":1.3,"windchill_f":34.4,"heatindex_c":3.2,"heatindex_f":37.7,"dewpoint_c":-11.4,"dewpoint_f":11.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.9,"gust_kph":14.3,"uv":0},{"time_epoch":1749790800,"time":"2025-06-13
        01:00","temp_c":2.7,"temp_f":36.8,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":252,"wind_dir":"WSW","pressure_mb":1017.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":34,"cloud":0,"feelslike_c":0.5,"feelslike_f":32.9,"windchill_c":0.5,"[...]
