---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=123%20Main%20St,%20New%20York,%20NY%2010001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999975'
      Cdn-Proxyver:
      - '1.29'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2025 22:18:40
      Cdn-Edgestorageid:
      - '1235'
      Cdn-Requestid:
      - 9d84c633cdece0cfe04197011a4f54d0
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"New York","region":"New York","country":"USA United
        States of America","lat":40.752,"lon":-73.9945,"tz_id":"America/New_York","localtime_epoch":1749853138,"localtime":"2025-06-13
        18:18"},"current":{"last_updated_epoch":1749852900,"last_updated":"2025-06-13
        18:15","temp_c":24.4,"temp_f":75.9,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":162,"wind_dir":"SSE","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":45,"cloud":0,"feelslike_c":25.2,"feelslike_f":77.3,"windchill_c":26.2,"windchill_f":79.2,"heatindex_c":26.6,"heatindex_f":79.9,"dewpoint_c":13.8,"dewpoint_f":56.8,"vis_km":13.0,"vis_miles":8.0,"uv":1.0,"gust_mph":10.0,"gust_kph":16.2},"forecast":{"forecastday":[{"date":"2025-06-13","date_epoch":1749772800,"day":{"maxtemp_c":30.1,"maxtemp_f":86.2,"mintemp_c":19.7,"mintemp_f":67.5,"avgtemp_c":23.3,"avgtemp_f":74.0,"maxwind_mph":8.9,"maxwind_kph":14.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":54,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Thundery
        outbreaks in nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/200.png","code":1087},"uv":1.6},"astro":{"sunrise":"05:24
        AM","sunset":"08:28 PM","moonrise":"10:56 PM","moonset":"07:01 AM","moon_phase":"Waning
        Gibbous","moon_illumination":97,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1749787200,"time":"2025-06-13
        00:00","temp_c":24.7,"temp_f":76.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1017.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":56,"cloud":1,"feelslike_c":26.0,"feelslike_f":78.8,"windchill_c":24.7,"windchill_f":76.5,"heatindex_c":26.0,"heatindex_f":78.8,"dewpoint_c":15.0,"dewpoint_f":59.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":12.2,"gust_kph":19.7,"uv":0},{"time_epoch":1749790800,"time":"2025-06-13
        01:00","temp_c":24.0,"temp_f":75.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.4,"wind_kph":11.9,"wind_degree":349,"wind_dir":"N","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":21,"feelslike_c":25.5,"feelslike_f":77.9,"windchill_c":24[...]
